<div class="widget-inner calculator widget-kalkulator" rel="widget-kalkulator">
    {% if widgetsEditMode %}
        <h2 class="widget-handle">KALKULATOR <a href="#" class="delete-widget"><i class="fa fa-times"></i></a></h2>
    {% else %}
        <h2>KALKULATOR</h2>
    {% endif %}
    <div class="calc-widget" data-result="" data-element1="" data-inter="" data-element2="">
        <div class="calc-cont">
            <p class="result"></p>
            <div class="cf calc">
                <a class="calc-button" href="#7">7</a>
                <a class="calc-button" href="#8">8</a>
                <a class="calc-button" href="#9">9</a>
                <a href="#/" class="func last calc-button">/</a>
                <div class="clr"></div>
                <a class="calc-button" href="#4">4</a>
                <a class="calc-button" href="#5">5</a>
                <a class="calc-button" href="#6">6</a>
                <a href="#*" class="func last calc-button">*</a>
                <div class="clr"></div>
                <a class="calc-button" href="#1">1</a>
                <a class="calc-button" href="#2">2</a>
                <a class="calc-button" href="#3">3</a>
                <a href="#-" class="func last calc-button">-</a>
                <div class="clr"></div>
                <a class="calc-button" href="#0">0</a>
                <a class="calc-button" href="#.">.</a>
                <a href="#=" class="green calc-button">=</a>
                <a href="#+" class="func calc-button last">+</a>
                <a href="#" class="func calc-button clr">wyczyść</a>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>