<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF">
    <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td width="680" height="20" bgcolor="#ffffff"></td>
        </tr>
        <tr>
            <td width="680" height="38" bgcolor="#ffffff">
                <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td width="30" height="40" bgcolor="#ffffff"></td>
                        <td width="211" height="40" bgcolor="#ffffff" style="font-size: 0;" >
                            <a href="http://materialcms.pl/">
                                <img src="{{ System.url('frontend/index', {}, true) }}images/logo.png" border="0" width="187" height="38" alt="MaterialCMS" />
                            </a>
                        </td>
                        <td width="439" height="40" bgcolor="#ffffff"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="680" bgcolor="#ffffff">
                <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td width="680" height="20" bgcolor="#ffffff"></td>
                    </tr>
                    <tr>
                        <td width="680" height="2" bgcolor="#c8eab1" style="background-color: #c8eab1;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="680" height="20" bgcolor="#ffffff"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="680" bgcolor="#ffffff">
                {% block content %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td width="680" bgcolor="#ffffff">
                <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td width="680" height="20" bgcolor="#ffffff"></td>
                    </tr>
                    <tr>
                        <td width="680" height="2" bgcolor="#c8eab1" style="background-color: #c8eab1;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="680" height="30" bgcolor="#ffffff"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="680" bgcolor="#ffffff">
                <table width="680" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td width="460" bgcolor="#ffffff"></td>
                        <td width="220" bgcolor="#ffffff" style="font-size:18px; color: #000000; font-family: Arial; font-weight: normal; line-height: 24px;"><strong>MaterialCMS</strong></td>
                    </tr>
                    <tr>
                        <td width="460" bgcolor="#ffffff"></td>
                        <td width="220" bgcolor="#ffffff" style="font-size:14px; color: #000000; font-family: Arial; font-weight: normal; line-height: 20px; font-style: italic;">Sprawdź na: <a href="http://materialcms.pl/" style="color: #40b454; text-decoration: underline;">materialcms.pl</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="680" height="30" bgcolor="#ffffff"></td>
        </tr>
    </table>
</body>
</html>
